<head>
   <meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
<a href = "library.html">LIBRARY</a>
<ul>
  </ul>
</body>
<script>
console.log("running");
const urlParams = new URLSearchParams(window.location.search);
const folder = urlParams.get('file');
$.get('/getinfo?file='+folder).done(function(data){
  info = data["info"];
  for(i = 0; i < info.length; i++){
    var extension = info[i]["extension"];
    if(extension == "psd"){
      extension = "png";
    }
    path = folder+"/"+info[i]["version"]+".";
    $("ul").append("<li><img src='/files/"+path+extension+"' height='300' width='auto'>");
    var date= new Date(parseInt(data["info"][(i).toString()]["date"]));
    $("ul").append("<p>"+date+"</p>");
    $("ul").append("<button onclick=downloadFile('"+path+info[i]["extension"]+"','"+folder+"."+info[i]["extension"]+"')>Download</button></li>");
  }
});
function downloadFile (path,name){
  console.log("download intiated",info[0]["extension"]);
  //download(folder, "./public/files/"+path, "image/"+info[i]["extension"]);
  window.open('/download?file='+path+'&name='+name);

}
</script>
