<head>
   <meta charset="UTF-8">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>
  hey I am library
  <a href = "home.html">HOME</a>
  <ul>
    </ul>
  <script>
  $.get('/getlatest').done(function(data){
      console.log(data);
      var info = data["files"];
      for(i = 0; i < info.length;i++){
        var extension = info[i]["extension"];
        if(extension == "psd"){
          extension = "png";
        }
        path = info[i]["name"]+"/"+info[i]["version"]+".";
        $("ul").append("<li><a href = 'galibrary.html?file="+info[i]["name"]+"'><img class = 'preview' src='/files/"+path+extension+"' height='300' width='auto'>"+info[i]["name"]+"</a></li>");
      }
  });
</script>
</body>
