<head>
   <meta charset="UTF-8">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
  hey I am library
  <a href = "home.html">HOME</a>
  <ul>
    </ul>
  <script>
  $.get('/getlatest').done(function(data){
      console.log(data);
      var foldernames = data["files"];
      for(i = 0; i < foldernames.length;i++){
        $("ul").append("<li><a href = 'galibrary.html?file="+foldernames[i]["name"]+"'>"+foldernames[i]["name"]+"</a></li>");
      }
  });

</script>
</body>
