<!DOCTYPE html>

<head>
	<script src="jquery-3.3.1.min.js"></script>	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<title>AVCS1</title>
</head>
<body>
	<h1>AVCS1</h1>
    <form method="POST" action="savefile.php" nctype="multipart/form-data">


        <input type="file" name="myFile" />

        <input id ="submit"type="submit" value="Upload File!" />

    </form>
	
	<script>
		var input = document.querySelector('#submit');	
		
		function submitClick(){
			console.log("saving file");
			var filename = $("#thefile").val();
		}

	</script>

</body>


