<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>
</head>
<body>
  <div id= "back"></div>
  <div id = "whitespace"></div>
  <div id = "shelf">
    <div id = "titles">
      <span class = "title"> A.V.C.S. </span>
      <span class = "subtitle">Art Version Control System</span>
      <br>

      <nav class="uk-navbar-container" uk-navbar>
          <div class="uk-navbar-left">
              <ul class="uk-navbar-nav">
                  <li ><a href="library.html">LIBRARY</a></li>
                  <li class="uk-active"><a id="projectname"class="pagename"></a></li>
              </ul>
          </div>
          <div class="uk-navbar-right">

              <ul class="uk-navbar-nav">
                <li id="search">
                    <form  class="uk-search uk-search-default">
                        <input class="uk-search-input" type="search" placeholder="Search...">
                    </form>
                </li>
                <li><a href="#">Sign in</a></li>

              </ul>

          </div>
      </nav>
      <div id="addContainer">
        <button class="uk-button uk-button-primary uk-margin-small-right" onclick="uploaderActivate()" type="button" >Upload File</button>
      </div>
      <div class= "uploadSpace3">
        <form id ="filer" class="uploadForm"  action="/" method="post" enctype="multipart/form-data">
          <input type="file" id = "uploader" class = "fileup"name="filetoupload" onchange="submit()">
          <br>
        </form>
      </div>
    </div>
    <div id= "topspacer"></div>
    <ul  id="versions" class= "uk-list uk-list-striped versions"></ul>
  </div>
</body>
<script>
console.log("running");
const urlParams = new URLSearchParams(window.location.search);
const folder = urlParams.get("file");
document.getElementById("filer").action = "fileupload?name="+folder;
$("#projectname").append(folder);
//populating version list
$.get("/getinfo?file="+folder).done(function(data){
  info = data["info"];
  for(i = 0; i < info.length; i++){
    var extension = info[i]["extension"];
    if(extension == "psd"){
      extension = "png";
    }
    path = folder+"/"+info[i]["version"]+".";
    var list1 = "<li class= 'version'><img src='/files/"+path+extension+"' height='300' width='auto'>";
    var date= new Date(parseInt(data["info"][(i).toString()]["date"]));
    var list2 = "<br><br><span class='infotitle'>Version: </span><span> "+info[i]["version"]+"</span><br><br>";
    var list3 = "<span class='infotitle'>Date Uploaded: </span><span>"+date+"</span><br><br>";
    var nsdate = date.toString().split(" ").join("");
    var list4 = "<button class='uk-button uk-button-default' onclick=downloadFile('"+path+info[i]["extension"]+"','"+folder+"','.v"+info[i]["version"]+".d"+nsdate+"."+info[i]["extension"]+"')>DOWNLOAD</button></li>";
    $("#versions").append(list1+list2+list3+list4);
  }
});
function downloadFile (path,name,dateversion){
  console.log("download intiated",info[0]["extension"]);
  window.open("/download?file="+path+"&name="+name+"&dateversion="+dateversion);
}
$("#uploader").onchange = function(){
  console.log("submitting");
 document.getElementById("filer").submit();
};
function uploaderActivate(){
    var upfile = document.getElementById("uploader");
    upfile.click();
}
</script>
