<head>
   <meta charset="UTF-8">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <link rel="stylesheet" type="text/css" href="styles/style.css">
      <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
</head>
<body>
  <div id = "whitespace"></div>
  <div id = "shelf">

  <div id = "titles">
    <span class = "title"> A.V.C.S. </span>
    <span class = "subtitle">Art Version Control System</span>


  <br>
  <a id= "newProject"href = "newProject.html">ADD PROJECT</a>
  </div>
  <div id= "topspacer">
  </div>
  <ul>
    </ul>
      </div>
  <script>
  $.get('/getlatest').done(function(data){
      console.log(data);
      var info = data["files"].reverse();
      for(i = 0; i < info.length;i++){
        var extension = info[i]["extension"];
        if(extension == "psd"){
          extension = "png";
        }
        path = info[i]["name"]+"/"+info[i]["version"]+".";
        var appendic = "<li><a href = 'galibrary.html?file="+info[i]["name"]+"'><img class = 'preview' src='/files/"+path+extension+"' height='300' width='auto'>"+info[i]["name"]+"</a>";
        var  appendic2 = "</li>";
        var progname = info[i]["name"];
        var button = "<div class= 'uploadSpace'><span class= 'fileUpload'>UPLOAD FILE</span>";
        var button2 = "</div>";
        var form2 = "<form id ='"+progname+"' class='uploadForm'  action='fileupload?name="+progname+"' method='post' enctype='multipart/form-data'>	<input type='file' class = 'fileup'name='filetoupload' onchange='submit("+progname+")'><br></form>";
        $("ul").append(appendic +button+form2 + button2+ appendic2);

      }
  });
  function submit(id) {
    console.log("submitting");
   document.getElementById(id).submit();
 }
</script>
</body>
